.topnav {

  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
  @media screen and (min-width: 800px) {
    display: none;
  }
}

/* Style the links inside the navigation bar */
.topnav h5 {
  float: right;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  font-size: 14px;
}

/* Change the color of links on hover */
.topnav h5:hover {
  background-color: #ddd;
  color: black;
}

