.viewModal_container {
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media screen and (max-width: 1250px) {
    grid-template-columns: 1fr;
  }
}
.viewModal_picturesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 1250px) {
    display: none;
  }
}
.modal-row {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.user-overview_image-container-modal {
  img {
    width: 120px;
    height: 120px;
  }
}
.user-overview_video-container-modal {
  width: 90%;
}
