input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.app__add {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 20px 0;
  max-width: 100%;
    overflow-x: hidden;
}

.video-upload-input {
  margin-right: 10px;
}

.app__add-box {
  padding: 20px;
  display: block;
  color: #000;
  @media only screen and (max-width: 500px) {
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  label {
  }

  //TEXT FIELDS
  #name,#age,#height,#weight,#contact,#email {
    
    border: 3px solid #000;
    border-radius: 5px;
    height: 50px;
    line-height: normal;
    color: #282828;
    display: block;
    width: 100%;
    box-sizing: border-box;
    user-select: auto;
    font-size: 16px;
    padding: 0 6px;
    margin-bottom: 15px;
    &:focus{
        border: 3px solid #5551ff;
    }
    
    
  }
  #contributions {
    border: 3px solid #000;
    border-radius: 5px;
    width: 100%;
    font-size: 20px;
    box-sizing: border-box;
    resize: none;
  }
  // RADIO BUTTONS
  .radio-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    input {
      margin: 10px;

    }
    
  }
  

  //country dropdown
  .select-country {
    color: black;
    border: 3px solid #000;
    border-radius: 5px;
    width: 100%;
  }
  .select-langauge {
    width: 100%;
    color: black;
    border: 3px solid #000;
    border-radius: 5px;
  }
  
}
.tags-container {
  //margin-top: 20px;
  background-color: white;
  border: 3px solid #000;
    border-radius: 5px;
  color: black;
  width: 100%;
  .rti--tag {
    background-color: #CCCCCC;
  }
}



.app__add-form {
  box-sizing: border-box;
  padding: 2rem;
  border-radius: 1rem;
  max-height:100%;
  max-width: 1100px;
  box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
  border-radius: 10px;
  margin-bottom: 20px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  @media screen and (max-width: 800px) {
    grid-template-columns: 1fr;
  }
  gap: 1rem;
  
}



select {
  // A reset of styles, including removing the default dropdown arrow
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;

  // Stack above custom arrow
  z-index: 1;

  // Remove dropdown arrow in IE10 & IE11
  // @link https://www.filamentgroup.com/lab/select-css.html
  &::-ms-expand {
    display: none;
  }

  // Remove focus outline, will add on alternate element
  outline: none;
}

.standard-select {
  display: none;
  place-content: center;
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;

  select,
  &::after {
    grid-area: select;
  }

  min-width: 15ch;
  max-width: 30ch;

  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;

  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;

  background-color: #fff;

}

// Interim solution until :focus-within has better support
select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid var(--select-focus);
  border-radius: inherit;
}

.select--disabled {
  cursor: not-allowed;
  background-color: #eee;
  background-image: linear-gradient(to top, #ddd, #eee 33%);
}

label {
  font-size: 1.125rem;
  font-weight: 500;
}

.select + label {
  margin-top: 2rem;
}

.image-upload-container {  
  .plus-sign {
    padding: 60px;
    border: 3px solid #000;
    border-radius: 5px;
    cursor: pointer;
    background-size: cover;
    background-color: white;
    @media only screen and (max-width: 500px) {
      padding: 30px;
    }
  }
  input {
    display: none;
    visibility: hidden;
  }
}
.video-upload-container {
  //background-color: #000;
  .plus-sign {
    
    padding: 160px 248px;
    //padding: 80px 60px;
    border: 3px solid #000;
    border-radius: 5px;
    cursor: pointer;
    background-size: cover;
    background-color: white;
  }
  input {
    display: none;
    visibility: hidden;
  }
}

.address {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.submit-btn, .back-btn {
  margin: 10px 0;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background: #000000;
  color: #FFFFFF;
  border-radius: 8px;
  padding: 14px 24px 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  transition: transform 200ms,background 200ms;
  &:hover{
      transform: translateY(-2px);
  }
}

.images-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 20px;
  column-gap: 10px;
  @media only screen and (max-width: 500px) {
    column-gap: 15px;
    row-gap: 2px;
    margin-top: 2px;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    .submit-btn {
      grid-column-start: span 2;
    }
  }

}

.grid5 {
  grid-row-start: span 2;
  //background-color: #000;
  .plus-sign {
    padding: 137px 60px;
    @media only screen and (max-width: 500px) {
      padding: 78px 30px;
    }
  }
}